
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='{% static "css/ticket_detail.css" %}' rel='stylesheet' />
    <title>Document</title>
</head>
<body>
    <header>
        <div class="row">
            <div class="badge {{ticket.ticket_status}}">
                {{ status }}
            </div>
            <span>
                Opened on {{ ticket.date_submitted }} by:
                <a href="">{{ticket.submitted_by}}</a>
            </span>
            <a class="edit" href="/edit/{{ticket.id}}">Edit</a>
        </div>
        <hr/>
    </header>
    <div class="container">
        <div class="title">
            <h1>{{ ticket.title }}</h1>
        </div>
        {{ ticket.description }}
    </div>
</body>
</html>