{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='{% static "css/index.css" %}' rel='stylesheet' />
    <title>Document</title>
</head>
<body>
    <Header>
        <h1>{{ user }}'s Profile</h1>
    </Header>
    <div class='container'>
        <!-- Submitted by tickets -->
        <div class='card'>
            <div class='card-container'>
                <div class='card-header'>
                    <div class="card-header-title">
                        <div class='circle'>{{ submitted_tickets|length }}</div>
                        Submitted Tickets
                    </div>
                    <div>
                        <a class="add-issue no-decoration" href="/addticket">
                            <i class="plus"></i>
                        </a>
                    </div>
                </div>
                <div class='card-body'>
                    {% for ticket in submitted_tickets %}
                    <div class="issue">
                        <div class="issue-header">
                            <strong>
                                <a class="no-decoration" href="/ticket/{{ticket.id}}">
                                    {{ ticket.title }}
                                </a>
                            </strong>
                            <a class="no-decoration" href="/edit/{{ticket.id}}">
                                <div class="menu_elipses"></div>
                            </a>
                        </div>
                        <div class="issue-body">
                            #{{ ticket.id }} opened by 
                            <a class="no-decoration" href="/user/{{ticket.submitted_by.id}}">
                                {{ ticket.submitted_by }}
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Assigned to tickets -->
        <div class='card'>
            <div class='card-container'>
                <div class='card-header'>
                    <div class="card-header-title">
                        <div class='circle'>{{ assigned_tickets|length }}</div>
                        Assigned Tickets
                    </div>
                </div>
                <div class='card-body'>
                    {% for ticket in assigned_tickets %}
                    <div class="issue">
                        <div class="issue-header">
                            <strong>
                                <a class="no-decoration" href="/ticket/{{ticket.id}}">
                                    {{ ticket.title }}
                                </a>
                            </strong>
                            <a class="no-decoration" href="/edit/{{ticket.id}}">
                                <div class="menu_elipses"></div>
                            </a>
                        </div>
                        <div class="issue-body">
                            #{{ ticket.id }} opened by 
                            <a class="no-decoration" href="/user/{{ticket.submitted_by.id}}">
                                {{ ticket.submitted_by }}
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Completed by tickets -->
        <div class='card'>
            <div class='card-container'>
                <div class='card-header'>
                    <div class="card-header-title">
                        <div class='circle'>{{ closed_tickets|length }}</div>
                        Closed Tickets
                    </div>
                </div>
                <div class='card-body'>
                    {% for ticket in closed_tickets %}
                    <div class="issue">
                        <div class="issue-header">
                            <strong>
                                <a class="no-decoration" href="/ticket/{{ticket.id}}">
                                    {{ ticket.title }}
                                </a>
                            </strong>
                            <a class="no-decoration" href="/edit/{{ticket.id}}">
                                <div class="menu_elipses"></div>
                            </a>
                        </div>
                        <div class="issue-body">
                            #{{ ticket.id }} opened by 
                            <a class="no-decoration" href="/user/{{ticket.submitted_by.id}}">
                                {{ ticket.submitted_by }}
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>